---
import { sanityClient } from "sanity:client";
import findNextAndLast from "../../functions/next-and-last";
const caseList =
  await sanityClient.fetch(`*[_type == 'caseStudy' && defined(slug) && defined(publishDate)]|order(publishDate desc) {
  title,
  "slug": slug.current,
}`);
const { slug } = Astro.props;
const currentIndex = findNextAndLast(caseList, slug);
---

<!--本组件为显示当前展览的后一个Case-->{
  caseList.length > 1 && currentIndex < caseList.length - 1 && (
    <div class="col-start-1 lg:col-start-2 col-end-12 grid grid-cols-10 gap-0 md:gap-4 mt-8 lg:mt-16 pt-8 lg:pt-16 border-t border-neutral-900 border-opacity-20">
      <h4 class="col-start-1 lg:col-start-3 col-span-8 font-sans font-normal text-base text-neutral-900">
        Next
      </h4>
      <a
        href={`/on-artists/detail/${caseList[currentIndex + 1].slug}`}
        data-astro-prefetch="hover"
        class="col-start-1 lg:col-start-3 col-span-12 lg:col-span-8 flex gap-8 justify-between items-center text-3xl lg:text-6xl font-serif font-bold no-underline hover:underline text-neutral-900"
      >
        <span
          class="line-clamp-2 pb-2 pl-1"
          title={caseList[currentIndex + 1].title}
        >
          {caseList[currentIndex + 1].title}
        </span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-5 lg:w-12 h-5 lg:h-12"
        >
          <path
            fill-rule="evenodd"
            d="M12.97 3.97a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 1 1-1.06-1.06l6.22-6.22H3a.75.75 0 0 1 0-1.5h16.19l-6.22-6.22a.75.75 0 0 1 0-1.06Z"
            clip-rule="evenodd"
          />
        </svg>
      </a>
    </div>
  )
}
