---
import Layout from "@/layouts/Layout.astro";
import {sanityClient} from "sanity:client";
import PageTitle from "@/components/PageTitle.astro";
type CaseStudy = {
  title: string;
  year: string;
  slug: string;
};

const caseStudyRawData = await sanityClient.fetch<CaseStudy[]>(`
  *[_type == 'caseStudy' && defined(publishDate)]|order(publishDate desc){
    title,
    "year": publishDate,
    "slug": slug.current
}`);

const caseStudyByYear = new Map<string, CaseStudy[]>();

caseStudyRawData.forEach((caseStudy) => {
  const year = caseStudy.year.split("-")[0];
  const collection = caseStudyByYear.get(year);
  if (collection) {
    collection.push(caseStudy);
  } else {
    caseStudyByYear.set(year, [caseStudy]);
  }
});

const groupedCaseStudies = Array.from(caseStudyByYear.entries()).map(([year, studies]) => ({
  year,
  studies,
}));

---
<Layout title = "On Artists">
  <PageTitle title = "On Artists"/>
  <main class="max-w-8xl mx-auto grid grid-cols-12 gap-8">
    <div class = "mb-40 col-start-1 col-span-12 space-y-12 p-4 sm:space-y-0 md:col-start-2 md:col-span-10 md:p-0">
      {
        groupedCaseStudies.map(({year, studies}) => (
          <div class = "sm:grid sm:grid-cols-10">
            <h2 class = "col-span-2 font-title font-bold proportional-nums text-3xl tracking-wider sm:py-6">{year}</h2>
            <ul class="col-span-8 flex-1">
              {
                studies.map((caseStudy) => (
                  <li
                    class = "items-center py-6 border-b border-neutral-900 border-opacity-20 sm:border-opacity-100 text-neutral-900"
                  >
                    <a
                      href = {`/on-artists/detail/${caseStudy.slug}`}
                      class = "col-span-4 font-title font-bold proportional-nums text-2xl/8 sm:text-3xl/12 text-neutral-900 line-clamp-2 hover:underline"
                      data-astro-prefetch
                    >
                      {caseStudy.title}
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
        ))
      }
    </div>
  </main>
</Layout>
