---
import Layout from "../../layouts/Layout.astro";
import {sanityClient} from "sanity:client";
import PageTitle from "../../components/PageTitle.astro";
const caseStudyRawData = await sanityClient.fetch(`
  *[_type == 'caseStudy' && defined(publishDate)]|order(publishDate desc){
    title,
    "year": publishDate,
    "slug": slug.current
}`);

// 遍历caseStudy，将caseStudy中的每个元素，分别push进两个数组。如：caseStudyYears = [2019,
// 2020]，caseStudyByYears = [[{}, {}, {}], [{}, {}, {}]]
const caseStudyYears = [];
const caseStudyByYears = [];
caseStudyRawData.forEach((caseStudy) => {
  const year = caseStudy.year.split("-")[0];
  if (caseStudyYears.indexOf(year) === -1) {
    caseStudyYears.push(year);
    caseStudyByYears.push([caseStudy]);
  } else {
    caseStudyByYears[caseStudyYears.indexOf(year)].push(caseStudy);
  }
});

---
<Layout title = "On Artists">
  <PageTitle title = "On Artists"/>
  <main class="max-w-8xl mx-auto grid grid-cols-12 gap-8">
    <div class = "mb-40 col-start-1 col-span-12 space-y-12 p-4 sm:space-y-0 md:col-start-2 md:col-span-10 md:p-0">
      {
        caseStudyYears.map((year) => (
          <div class = "sm:grid sm:grid-cols-10">
            <h2 class = "col-span-2 font-serif font-bold proportional-nums text-3xl tracking-wider sm:py-6">{year}</h2>
            <ul class="col-span-8 flex-1">
              {
                caseStudyByYears[caseStudyYears.indexOf(year)].map((caseStudy) => (
                  <li
                    class = "items-center py-6 border-b border-neutral-900 border-opacity-20 sm:border-opacity-100 text-neutral-900"
                  >
                    <a
                      href = {`/on-artists/detail/${caseStudy.slug}`}
                      class = "col-span-4 font-serif font-bold proportional-nums text-2xl sm:text-3xl text-neutral-900 line-clamp-2 hover:underline"
                      data-astro-prefetch
                    >
                      {caseStudy.title}
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
        ))
      }
    </div>
  </main>
</Layout>
