---
import LazySlider from './gallery/LazySlider.tsx';
import LazyGrid from './gallery/LazyGrid.tsx'
const {gallery, title, images} = Astro.props;
---

<div class = "col-start-1 col-span-8 lg:col-span-6 my-4 lg:my-16 w-full">
  {gallery === 'slider' ?
    <div class="overflow-visible">
      <LazySlider images = {images} client:visible = "react"/>
    </div>
      :
    <LazyGrid title = {title} images = {images} client:visible = "react"/>}
</div>
