---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import ExhibitionSection from "../components/ExhibitionSection.astro";
import BookSection from "../components/BookSection.astro";
import ArchiveSection from "../components/ArchivetSection.astro";
import CaseStudySection from "../components/CaseStudySection.astro";
import TeachingSection from "../components/TeachingSection.astro";
import LatestNewsSection from "../components/LatestNewsSection.astro";
---

<Layout title = "Lu Peng's Personal Website" description = "Art Historian, Art Critic, Curator">
	<main class="grid grid-cols-12 gap-8 max-w-8xl mx-auto">
		<HeroSection />
		<LatestNewsSection />
		<ExhibitionSection />
		<BookSection />
		<TeachingSection />
		<ArchiveSection />
		<CaseStudySection />
	</main>
</Layout>

<style is:global>
	.swiper {
		overflow: visible !important;
	}
</style>
