---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import ExhibitionSection from "../components/ExhibitionSection.astro";
import BookSection from "../components/BookSection.astro";
import ArchiveSection from "../components/ArchivetSection.astro";
---

<Layout title="Lu Peng's Personal Website">
	<main class="grid grid-cols-12 gap-8 max-w-8xl mx-auto">
		<HeroSection />
		<ExhibitionSection />
		<BookSection />
		<ArchiveSection />
	</main>
</Layout>
