---
import Layout from "@/layouts/Layout.astro";
import HeroSection from "@/components/HeroSection.astro";
import ExhibitionSection from "@/components/ExhibitionSection.astro";
import BookSection from "@/components/BookSection.astro";
import ArchiveSection from "@/components/ArchivetSection.astro";
import CaseStudySection from "@/components/OnArtistsSection.astro";
import TeachingSection from "@/components/TeachingSection.astro";
import LatestNewsSection from "@/components/LatestNewsSection.astro";
---

<Layout
  title="Lu Peng's Personal Website"
  description="The website (www.luhistory.com) serves as the official platform for Mr. Lü Peng (Lv Peng/Lu Peng). This platform is dedicated to showcasing Mr. Lü Peng's extensive academic research achievements and practical case studies across six key facets, including Personal Profile, Publications, Exhibitions, On Artists, Collection, and Teaching. It provides a comprehensive overview of Mr. Lü Peng's scholarly contributions and professional endeavors over the course of his career."
  type="website"
>
  <main class = "grid grid-cols-12 gap-8 max-w-8xl mx-auto">
    <HeroSection/>
    <LatestNewsSection/>
    <ExhibitionSection/>
    <BookSection/>
    <TeachingSection/>
    <ArchiveSection/>
    <CaseStudySection/>
  </main>
</Layout>

<style is:global>
  .swiper {
    overflow: visible !important;
  }
</style>
