---
const currentYear = new Date().getFullYear().toString();
---

<footer
  class="container grid grid-cols-4 gap-4 px-4 mx-auto md:px-0 md:gap-8 md:grid-cols-12"
>
  <section class="col-span-4 py-10 border-t md:col-span-10 md:col-start-2">
    <div class="grid md:grid-cols-10 md:gap-8">
      <ul class = "col-span-10 md:col-span-2 text-base font-sans text-neutral-900">
        <span class="list__title">Navigation</span>
        <li><a href="/about">About</a></li>
        <li><a href = "/exhibition">Exhibitions</a></li>
        <li><a href = "/book/category">Publications</a></li>
        <li><a href="/teaching">Teaching</a></li>
        <li><a href = "/collection/all/1">Collection</a></li>
        <li><a href="/on-artists">On Artists</a></li>
      </ul>
      <ul class="col-span-10 md:col-span-2">
        <span class="list__title">Social</span>
        <li>
          <a
            href="https://facebook.com/"
            rel="noopener noreferrer"
            target="_blank">Facebook</a
          >
        </li>
        <li>
          <a href="https://weibo.com/" rel="noopener noreferrer" target="_blank"
            >Weibo</a
          >
        </li>
      </ul>
      <ul class="col-span-10 md:col-span-2">
        <span class="list__title">Contact</span>
        <li><a href="mailto:info@luhistory.com">info@luhistory.com</a></li>
      </ul>
      <div
        class="col-span-10 text-gray-400 md:col-start-7 md:col-span-4 md:text-right"
      >
        &copy; {currentYear}
        <span class="uppercase">Lü Peng</span>
      </div>
    </div>
  </section>
</footer>
<style>
  footer .list__title {
    @apply text-gray-400 tracking-widest uppercase text-sm mb-2 inline-block;
  }
  footer ul {
    @apply mb-6;
  }
  footer li {
    @apply my-1;
  }
  footer li a {
    @apply text-gray-700 hover:underline hover:text-gray-900;
  }
</style>
