---
const currentYear = new Date().getFullYear().toString();
---

<footer class="max-w-[1088px] mx-auto w-full border-t border-black py-8 mt-4">
  <ul class="flex gap-8 text-neutral-900 list-none">
    <li>
      © { currentYear } Lü Peng
    </li>
    <li>
      <a class="no-underline" href="mailto:info@luhistory.com" target="_blank">Email</a>
    </li>
    <li>Facebook</li>
    <li>Weibo</li>
  </ul>
</footer>
