---
import {sanityClient} from "sanity:client";
import LatestNewsSlider from "./slider/LatestNewsSlider.tsx"
const latestArchives = await sanityClient.fetch(`*[_type == 'article' && isTop == true && defined(slug)] | order(publishDate desc){
  title,
  subtitle,
  "slug": slug.current,
  "cover": cover.asset->url
}[0...6]`);
---

{latestArchives && (
<div
  class = "col-start-1 col-span-12 mb-8 p-4 sm:p-0 sm:col-start-2 sm:col-span-10 lg:mb-40"
>
  <hgroup
    class = "flex justify-between items-baseline text-neutral-900 mb-8 md:mb-20"
  >
    <h2 class = "font-bold text-3xl md:text-5xl font-serif">Highlights</h2>
  </hgroup>
  <div class = "overflow-visible">
    <LatestNewsSlider client:visible news = {latestArchives}/>
  </div>
</div>
    )}