---
import { Image } from 'astro:assets';
import favicon from '../assets/icons/favicon.svg';
import faviconWhite from '../assets/icons/favicon-white.svg';
import closeWhite from '../assets/icons/close-white.svg';
import menuIcon from '../assets/icons/menu.svg';
---
<nav class="fixed w-full flex justify-between items-center p-8">
  <!--该部分为全屏导航-->
  <div
    id="nav-fullscreen"
    class="hidden bg-neutral-900 w-screen h-screen fixed inset-0">
    <hgroup class="w-full flex justify-between items-center p-8">
      <Image src={faviconWhite} alt="logo" class="cursor-pointer" />
      <Image id="close-button" src={closeWhite} alt="close button" class="cursor-pointer" />
    </hgroup>
    <div class="grid grid-cols-1 gap-16 px-8 md:grid-cols-2 md:p-8 lg:grid-cols-5 lg:gap-3 lg:p-16">
      <ul class="col-span-1 lg:col-span-3 lg:mx-auto text-white font-serif font-bold text-4xl md:text-5xl space-y-6">
        <li class="w-fit">
          <a href="/profile">Profile</a>
        </li>
        <li class="w-fit">
          <a href="/exhibitions/1">Exhibitions</a>
        </li>
        <li class="w-fit">
          <a href="/books/1">Books</a>
        </li>
        <li class="w-fit">
          <a href="/documents/1">Documents</a>
        </li>
        <li class="w-fit">
          <a href="/teaching">Teaching</a>
        </li>
        <li class="w-fit">
          <a href="/case-studies/1">Case Studies</a>
        </li>
      </ul>
      <div class="text-white col-span-1 space-y-12 lg:col-span-2">
        <div class="space-y-4">
          <h3 class="font-normal font-sans text-sm uppercase opacity-50 tracking-widest">Social</h3>
          <h4 class="font-serif font-bold text-3xl md:text-4xl">Facebook</h4>
          <h4 class="font-serif font-bold text-3xl md:text-4xl">Weibo</h4>
        </div>
        <div class="space-y-4">
          <h3 class="font-normal font-sans text-sm uppercase opacity-50 tracking-widest">Contact</h3>
          <h4 class="font-serif font-bold text-3xl md:text-4xl">
            <a href="mailto:info@luhistory.com" target="_blank">info@luhistory.com</a>
          </h4>
        </div>
      </div>
    </div>
  </div>

  <div class="w-28 h-8 flex justify-center items-center mix-blend-difference">
    <a href="/">
      <Image src={favicon} alt="logo" class="cursor-pointer" />
    </a>
  </div>
  <div class="w-10 h-10">
    <Image src={menuIcon} alt="menu" class="w-full h-full cursor-pointer" />
  </div>
</nav>

<script>
  const navFullscreen = document.getElementById('nav-fullscreen');
  const closeButton = document.getElementById('close-button');
  const menuButton = document.querySelector('nav > div:last-child');
  const heroText = document.querySelector('#hero-text');
  const heroImg = document.querySelector('#hero-img');

  closeButton.addEventListener('click', () => {
    navFullscreen.classList.remove('show-fullscreen-nav');
    heroText.classList.remove('hidden');
    heroImg.classList.remove('hidden');
    // 恢复滚动
    document.body.style.overflow = 'auto';
  });

  menuButton.addEventListener('click', () => {
    navFullscreen.classList.add('show-fullscreen-nav');
    heroText.classList.add('hidden');
    heroImg.classList.add('hidden');
    // 禁用滚动
    document.body.style.overflow = 'hidden';
  });
</script>

<style>
  .show-fullscreen-nav {
    display: block;
    transition: all 1s ease-in-out;
    z-index: 100;
  }
</style>
