---
import {sanityClient} from "sanity:client";
import CaseSlider from "./slider/CaseSlider.tsx"

type CaseSummary = {
  title: string;
  slug: string;
  cover?: string | null;
};

const casesData = await sanityClient.fetch<CaseSummary[]>(`
*[_type == "caseStudy" && defined(slug)] | order(publishDate) {
    title,
    "slug": slug.current,
    "cover": cover.image.asset->url
    }`)
---
<div
  id = "cases-container"
  class = "col-start-1 col-span-12 mb-8 p-4 sm:p-0 sm:col-start-2 sm:col-span-10 lg:mb-40"
>
  <hgroup
    class = "flex justify-between items-baseline text-neutral-900 mb-8 md:mb-20"
  >
    <h2 class = "font-bold text-3xl md:text-5xl font-serif">On Artists</h2>
    <div class = "flex items-center gap-2">
      <a
        href = "/on-artists" class = "text-lg md:text-2xl font-thin font-serif"
        data-astro-prefetch = "viewport"
      >View more&nbsp;&nbsp;→</a>
    </div>
  </hgroup>
  <div class = "w-full">
    <div class = "overflow-visible">
      {casesData && (
          <CaseSlider client:visible cases={casesData} />
      )}
    </div>
  </div>
</div>

<style>
  .cover-img {
    width: 320px;
    height: 213px;
  }

  @media (min-width: 768px) {
    .cover-img {
      width: 528px;
      height: 352px;
    }
  }

  #cases-container {
    transition: all 0.5s ease-in-out;
  }

  .invisible {
    opacity: 0;
  }

  .visible {
    opacity: 1;
  }
</style>

<script>
  // 选择container，在进入viewport的时候添加class
  function showContainer() {
    const container = document.getElementById('cases-container');
    const options = {
      root: null,
      rootMargin: '0px',
      threshold: 0.1
    };

    const observer = new IntersectionObserver((entries) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add('visible');
          entry.target.classList.remove('invisible');
        } else {
          entry.target.classList.remove('visible');
          entry.target.classList.add('invisible');
        }
      });
    }, options);

    if (!container) {
      return;
    }

    observer.observe(container);
  }

  document.addEventListener('DOMContentLoaded', showContainer);
  document.addEventListener('astro:after-swap', showContainer);
</script>
