---
import RelatedBooks from "./page-block/RelatedBooks.astro";
import RelatedDocuments from "./page-block/RelatedDocuments.astro";
import Gallery from "./page-block/Gallery.astro";
import Timeline from "./page-block/Timeline.astro";
import TextBlock from "./text-block/TextBlock.astro";
import RelatedInternalLinks from "./page-block/RelatedInternalLinks.astro";
import RelatedExternalLinks from "./page-block/RelatedExternalLinks.astro";
import RelatedExhibitions from "./page-block/RelatedExhibitions.astro";
const { blocks } = Astro.props
---

<div class = "page-block col-span-8 flex flex-col gap-4 md:grid md:grid-cols-8 md:gap-8">
  <!--根据block.type分别传入不同组件-->
  {blocks.map((block) => {
    switch (block.category) {
      case "books":
        return <RelatedBooks {...block} />;
      case "articles":
        return <RelatedDocuments {...block} />;
      case "gallery":
        return <Gallery {...block} />;
      case "timeline":
        return <Timeline {...block} />;
      case "content":
        return <TextBlock overview={block.content} title={block.title} />;
      case "relatedInternalLinks":
        return <RelatedInternalLinks {...block} />;
      case "relatedExternalLinks":
        return <RelatedExternalLinks {...block} />;
      case "exhibitions":
        return <RelatedExhibitions {...block} />;
      default:
        return null;
    }
  })}
</div>
