---
import {sanityClient} from "sanity:client";
const teachingData = await sanityClient.fetch(`
  *[_type == "teaching"]{
  "overview": overview->body[0].children[0].text
}
`)

---

<div
  id="teaching-container"
  class = "col-start-1 col-span-12 mb-8 p-4 sm:p-0 sm:col-start-2 sm:col-span-10 lg:mb-40"
>
  <hgroup class = "flex justify-between items-baseline text-neutral-900 mb-12 md:mb-20">
    <h2 class = "font-bold text-3xl md:text-5xl font-serif">Teaching</h2>
    <div class = "flex items-center gap-2">
      <a href = "/teaching" class = "text-lg md:text-2xl font-thin font-serif" data-astro-prefetch>View more&nbsp;&nbsp;→</a>
    </div>
  </hgroup>
  <p
    title = {teachingData[0].overview}
    class = "font-serif font-bold line-clamp-2 text-2xl md:text-3xl text-neutral-900 mb-8"
  >{teachingData[0].overview}</p>
</div>

<style>
  #teaching-container {
    transition: all 0.5s ease-in-out;
  }

  .invisible {
    opacity: 0;
  }

  .visible {
    opacity: 1;
  }
</style>

<script>
  // 选择container，在进入viewport的时候添加class
  function showContainer() {
    const container = document.getElementById('teaching-container');
    const options = {
      root: null,
      rootMargin: '0px',
      threshold: 0.1
    };

    const observer = new IntersectionObserver((entries, observer) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add('visible');
          entry.target.classList.remove('invisible');
        } else {
          entry.target.classList.remove('visible');
          entry.target.classList.add('invisible');
        }
      });
    }, options);

    observer.observe(container);
  }

  document.addEventListener('DOMContentLoaded', showContainer);
  document.addEventListener('astro:after-swap', showContainer);
</script>
