---
import { sanityClient } from "sanity:client";

type TeachingSummary = {
  overview?: string | null;
};

const teachingData = await sanityClient.fetch<TeachingSummary[]>(`
  *[_type == "teaching"]{
  "overview": overview[0].children[0].text
}
`);

const teachingOverview = teachingData[0]?.overview ?? "";
---

<div
  class="col-start-1 col-span-12 mb-8 p-4 sm:p-0 sm:col-start-2 sm:col-span-10 lg:mb-40"
>
  <hgroup
    class="flex justify-between items-baseline text-neutral-900 mb-12 md:mb-20"
  >
    <h2 class="font-title font-bold text-3xl md:text-5xl">Teaching</h2>
    <div class="flex items-center gap-2">
      <a
        href="/teaching"
        class="font-title text-lg md:text-2xl font-thin"
        data-astro-prefetch>View more&nbsp;&nbsp;→</a
      >
    </div>
  </hgroup>
  <p
    title={teachingOverview}
    class="font-title font-medium line-clamp-2 text-2xl/8 md:text-3xl/12 text-neutral-900 mb-8"
  >
    {teachingOverview}
  </p>
</div>
