---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
const {title, description} = Astro.props;
---
<html lang = "en" class = "scroll-smooth">
<head>
  <meta charset = "UTF-8">
  <meta name = "viewport" content = "width=device-width, initial-scale=1">
  <meta name = "generator" content = {Astro.generator}/>
  <link rel = "icon" href = "/favicon.svg" type = "image/svg+xml"/>
  <title>{title}</title>
  <meta name = "description" content = {description}/>
  <link rel = "preconnect" href = "https://fonts.googleapis.com">
  <link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin>
  <link href = "https://fonts.googleapis.com/css2?family=Cormorant:wght@400;600;700&display=swap" rel = "stylesheet">
  <link rel = "sitemap" href = "/sitemap-index.xml"/>
</head>
<body>
<div class = "min-h-screen flex flex-col relative">
  <Navbar/>
  <div class = "grow w-full mt-[52px] md:mt-[104px] overflow-hidden">
    <slot/>
  </div>
  <Footer/>
</div>
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "59006de9d58c488b8b3be362a0758a09"}'></script>
</body>
</html>
