---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
const { title, description } = Astro.props;
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <script
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-F393GEHV22"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-F393GEHV22");
    </script>
  </head>
  <body>
    <div class="min-h-screen flex flex-col relative">
      <Navbar />
      <div class="grow w-full mt-[52px] md:mt-[104px] overflow-hidden">
        <slot />
      </div>
      <Footer />
    </div>
  </body>
</html>
