---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import '@fontsource/cormorant';
import '@fontsource/inter';
const { title } = Astro.props;
---
<html lang = "en">
<head>
  <meta charset = "UTF-8">
  <meta name = "viewport" content = "width=device-width, initial-scale=1">
  <meta name = "generator" content = {Astro.generator}/>
  <title>{title}</title>
</head>
<body>
  <div class="min-h-screen flex flex-col">
    <Navbar/>
    <main class="grow max-w-5xl w-full mx-auto">
      <slot/>
    </main>
    <Footer/>
  </div>
</body>
</html>
