---
import Layout from "../../layouts/Layout.astro";
import PageTitle from "../../components/PageTitle.astro";
import {sanityClient} from "sanity:client";
import PageBlock from "../../components/PageBlock.astro";
import Timeline from "../../components/page-block/Timeline.astro";
import RelatedInternalLinks
  from "../../components/page-block/RelatedInternalLinks.astro";
import TextBlock from "../../components/text-block/TextBlock.astro";

const teachingData = await sanityClient.fetch(`*[_type == 'teaching']{
  "experience": {
    "type": 'timeline',
    "records": experience[]
  },
  "overview": overview[]{
      _type == 'imageBlock' => {
        type,
        "url": image.asset->url,
        "caption": image.caption
      },
      _type == 'gallery' => {
        type,
        title,
        "pictures": images[]{
          "url": asset->url,
          caption
        }
      },
      ...
    },
  "links": content.links[]->{
    _type == 'article' => {
      "type": _type,
      "title": title,
      "slug": slug.current
    },
    _type == 'book' => {
      "type": _type,
      title,
      "slug": slug.current
    },
    _type == 'exhibition' => {
        "type": _type,
        title,
        "slug": slug.current
    },
  }
}`);

const {overview, experience, links} = teachingData[0];
---

<Layout title = "Teaching">
  <PageTitle title="Teaching" subtitle="Praesentium ea asperiores molestias aperiam enim accusantium. Voluptatibus dicta quam eum labore dolorum eum nobis deleniti eum." bgWhite="false" />
  <main
    class = "px-4 flex flex-col gap-4 py-8 md:grid md:grid-cols-12 md:gap-8 md:py-16 lg:max-w-8xl lg:mx-auto 8xl:px-0"
  >
    <div class = "col-start-4 col-end-12 w-full">
      {experience &&
        <Timeline title="Experience" records={experience.records} />
      }
      {overview &&
        <div class = "my-16 lg:my-32 flex flex-col">
          <h2 class = "font-serif font-bold text-3xl lg:text-6xl text-neutral-900 mb-8 lg:mb-16">Overview</h2>
          <TextBlock overview = {overview}/>
        </div>
      }
      {links &&
          <RelatedInternalLinks title="Teaching materials" links={links} />
      }
    </div>
  </main>
</Layout>

<style is:global>
  .swiper {
    overflow: visible !important;
  }
</style>
